*{
  margin: 0;
  padding: 0;

}

.nav-top{
    width: 1120px;
    margin: auto;
  
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.right-box{
    display: flex;
    align-items: center;
}
   
.list{ 
    display: flex; 
}

.list_item{
    padding-right: 60px;
    list-style: none;   
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    color: #eb690c;


}  


.serach_icon{
    padding-right: 55px;
}
.cart_icon{
    padding-right:55px;
}

.btn{
    font-family:'Rubik';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color:#FFFF;
}